<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">	
        <div class="row">
        
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Start form -->
                        <form>
                          <div class="form-group">
                            <label for="exampleInputEmail1">New Password</label>
                            <input type="password" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Enter New Password">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Confirm Password</label>
                            <input type="password" class="form-control" name="password" id="cpassword" placeholder="Password">
                          </div>
                          <div class="form-check">
                            <button class="btn btn-info" type="button" name="showpassword" id="showpassword" value="Show Password">Show password</button> 
                            <button type="submit" id="{{user.id}}" class="btn btn-primary forgotpswd">Save</button><br>
                            <a href="/login" style="">Login</a>
                          </div>
                          
                        </form>
    
    
                <!-- End form -->
            </div>
            
        
            
        </div>
    </div>
    
</body>
<script>
    jQuery(document).ready(function(){


// Show password Button
$("#showpassword").on('click', function(){
    
    var pass = $("#cpassword");
    var fieldtype = pass.attr('type');
    if (fieldtype == 'password') {
        pass.attr('type', 'text');
        $(this).text("Hide Password");
    }else{
        pass.attr('type', 'password');
        $(this).text("Show Password");
    }


});





});


</script>
<script>
    $('.forgotpswd').click((e)=>{
        console.log(e.target.id)
        password = $('#password').val()
        console.log(password)
        c_password = $('#cpassword').val()
        id=e.target.id
        if(password == c_password){
            newpassword = password
        }
        else{
            alert('wrong password')
        }
        $.ajax({
                  url:'/newpassword',
                  type:'POST',
                  headers: {//<==
                    "X-CSRFTOKEN": "{{ csrf_token }}"//<==
                  },
                  data:{id:id, password:newpassword},
                  success:function(data){
                    password = $('#password').val('')
                    c_password = $('#cpassword').val('')
                  }
                });
    
    });
    
    </script>
</html>



